.main-page-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-image: url("../../pages/home-page/images/main-page-navbar-bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    vertical-align: top;
    position: fixed;
}
.main-page-navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    overflow: visible;
    text-overflow: clip;
}
.main-page-navbar-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Infant", serif;
    font-weight: bold;
    font-size: 6px;
    width: 32px;
    overflow: visible;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 12px;
    color: black;
    white-space: nowrap;
}

.main-page-navbar-option .menu-icon {
    width: 44px;
    height: 46px;
    background-image: url('../../pages/home-page/images/nav-menu.png');
}

.main-page-navbar-option .quests-icon {
    width: 49px;
    height: 46px;
    background-image: url('../../pages/home-page/images/nav-quests.png');
}

.main-page-navbar-option .open-icon {
    width: 45px;
    height: 46px;
    background-image: url('../../pages/home-page/images/nav-open.svg');
}

.main-page-navbar-option .new-game-icon {
    width: 40px;
    height: 46px;
    background-image: url('../../pages/home-page/images/nav-new-game.png');
}
