.main {
  width: 100vw;
  height: auto;

  .listLeaderBoard {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    padding: 20px;
    height: 69.5vh;

    .MVPPlayer {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapperImgWithName {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .wrapperImgWithExperience {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}