.main {
  width: 100%;
  height: 50px;
  padding-bottom: 3px;
  border: 0.95px solid rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(128, 119, 109), rgb(145, 135, 137) 22%, rgb(187, 176, 174) 55%, rgb(215, 204, 200) 84%, rgb(226, 215, 210) 100%);
}