<div class="game-creation-container">
  <mat-card class="game-card">
    <div class="game-header">
      <img src="assets/Header.svg">
      <div class="btnClass">
        <img src="assets/Head.png" (click)="createGame()">
      </div>


    </div>
    <div class="bet-section">
      <mat-form-field class="input-section" appearance="outline">
        <mat-icon matPrefix (click)="decreaseBet()">remove</mat-icon>
        <input matInput placeholder="Ваша ставка" [(ngModel)]="bet" type="number">
        <mat-icon matSuffix (click)="increaseBet()">add</mat-icon>
      </mat-form-field>

      <div class="bet-buttons">
        <button mat-button (click)="setBet(100)">100</button>
        <button mat-button (click)="setBet(1000)">1K</button>
        <button mat-button (click)="setBet(10000)">10K</button>
        <button mat-button (click)="setBet(100000)">100K</button>
      </div>
    </div>
    <div class="game-mode-section">
      <h3>Режим игры</h3>
      <mat-radio-group [(ngModel)]="gameMode">
        <mat-radio-button value="Подкидной">Подкидной</mat-radio-button>
        <mat-radio-button value="Соседа">Соседа</mat-radio-button>
        <mat-radio-button value="Классика">Классика</mat-radio-button>
        <mat-radio-button value="Переводной">Переводной</mat-radio-button>
        <mat-radio-button value="Все">Все</mat-radio-button>
        <mat-radio-button value="Новый">Новый</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="player-count-section">
      <h3>Количество игроков</h3>
      <mat-radio-group [(ngModel)]="playerCount">
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="create-game-section">
      <button mat-raised-button (click)="createGame()">Создать</button>
      <mat-checkbox [(ngModel)]="privateGame">Приватная игра</mat-checkbox>
    </div>
  </mat-card>
</div>

