<div class="main-page-container">
    <div class="main-page-header">
        <div class="main-page-header-content">
            <div class="main-page-header-content-avatar-border">
                <div class="main-page-header-content-avatar">{{ user?.photo_url }}</div>
            </div>
            
            <div class="main-page-header-content-data">
                <div class="main-page-header-content-data-username">{{ user?.first_name }}</div>
                <div class="main-page-header-content-data-credits">
                    <div class="main-page-header-content-data-credits-1">
                        <div class="main-page-header-content-data-credits-1-icon"></div>
                        <div class="main-page-header-content-data-credits-1-value">100K</div>
                    </div>
                    <div class="main-page-header-content-data-credits-1">
                        <div class="main-page-header-content-data-credits-2-icon"></div>
                        <div class="main-page-header-content-data-credits-1-value">152.5K</div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    

    <div class="main-page-menu">
        <div class="main-page-menu-buttons">
            <div class="main-page-menu-button">Играть</div>
            <div class="main-page-menu-button">Лидерборд</div>
            <div class="main-page-menu-button">Рефералы</div>
            <div class="main-page-menu-button">Настройки</div>
        </div>
    </div>

    <div class="main-page-navbar">
        <div class="main-page-navbar-option menu">
            <div class="main-page-navbar-option menu-icon"></div>
            <h1>Меню</h1>
        </div>
        <div class="main-page-navbar-option quests">
            <div class="main-page-navbar-option quests-icon"></div>
            <h1>Квесты</h1>
        </div>
        <div class="main-page-navbar-option open">
            <div class="main-page-navbar-option open-icon"></div>
            <h1>Открытые</h1>
        </div>
        <div class="main-page-navbar-option new-game">
            <div class="main-page-navbar-option new-game-icon"></div>
            <h1>Создать игру</h1>
        </div>
    </div>

    
</div>


<div class="main-page-hands-bg"></div>


<link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">




<!-- <div>Имя: {{ user?.first_name }}</div>
<div>Фамилия: {{ user?.last_name }}</div>
<div>Username: {{ user?.username }}</div>
<div>Язык: {{ user?.language_code }}</div>
<div>aksjdhkasjdh</div> -->