.main {
  width: 100%;
  height: calc(100vh - 136px);
  background: rgba(26, 69, 54, 1);
  position: relative;

  .wrapperImg {
    position: absolute;
    top: 0;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .MywrapperImg {
    position: absolute;
    bottom: -30px;
    z-index: 3;
    left: 40%;
  }

  .wrapperTextGetReady {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
    z-index: 1;
    width: 13%;
    perspective: 1000px;
  }

  .hand div {
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    width: 75px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .hand img:hover {
    transform: scale(1.1);
  }

  .opponentHand {
    position: absolute;
    top: 20px; // Расположите выше
    left: 50%; // Центрируйте по горизонтали
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    perspective: 1000px;
  }
  .opponentAva{
    z-index: 15;
  }
  .opponentHand img {
    position: absolute;
    bottom: -5px;
    transform-origin: bottom center;
    transition: transform 0.3s ease, left 0.3s ease;
    width: 75px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .deck {
    position: absolute;
    left: -15px; // Расположите слева
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

  .deck img {
    position: absolute;
    transform: rotate(200deg);
    left: -17px;
    width: 75px;
    height: auto; /* Поддержка соотношения сторон */
  }

  .deck img.trump {
    position: absolute;
    z-index: 0;
    transform: rotate(110deg);
    left: 0;
    width: 75px;
    height: auto; /* Поддержка соотношения сторон */

  }

  .tableCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }

  .tableCard img {
    width: 75px;
    scale: 0.7;
    height: auto;
    position: absolute;
  }
  .cardContainer img{
    width: 75px;
    right: -30px;
    height: auto;
  }
  .back_card2 {
    position: absolute;
    top: 250px;
    transform: rotate(-200deg);
    right: -10px;
    z-index: 1;
    width: 10vw; /* Сделано относительным */
    max-width: 64px; /* Ограничение максимальной ширины */
    height: auto; /* Поддержка соотношения сторон */
  }

  .back_card1 {
    position: absolute;
    top: 300px;
    transform: rotate(-200deg);
    right: -10px;
    z-index: 2;
    width: 10vw; /* Сделано относительным */
    max-width: 64px; /* Ограничение максимальной ширины */
    height: auto; /* Поддержка соотношения сторон */
  }

  .back_card3 {
    position: absolute;
    top: 330px;
    transform: rotate(190deg);
    right: -10px;
    z-index: 4;
    width: 10vw;
    max-width: 64px;
    height: auto;
  }

}
