.main {
  width: 100%;
  height: calc((100vh - 50px) - 86px);
  background: rgba(26, 69, 54, 1);
  position: relative;

  .wrapperImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);

    img {

    }
  }

  .wrapperTextGetReady {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}