body {
  background-color: black;
  width: 100vw;
  margin: 0;
}

$background-color: linear-gradient(51.04deg, rgba(79, 21, 21, 1), rgba(56, 12, 12, 1));

.main {
  width: 100vw;
  overflow: hidden;


  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  * {
    box-sizing: border-box;
  }
}
