.ruby-animation {
    height: 42px;
    margin-top: 17px;
    margin-left: 3px;
}

@media (max-height: 750px) {
    .ruby-animation {
        height: 42px;
        margin-top: 14px;
        margin-left: 3px;
    }
}